<a href="https://colab.research.google.com/github/2303a51514/2303a51514-batch-22/blob/main/lab-6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
# Student Data
students = pd.DataFrame({
'Student_ID': [101, 102, 103, 104],
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita']})
# Marks Data
marks = pd.DataFrame({
'Student_ID': [101, 102, 103, 105],
'Marks': [85, 90, 78, 88]})
merged_df = pd.merge(students, marks, on='Student_ID')
print("Merged DataFrame:")
print(merged_df)

Merged DataFrame:
   Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78

In [4]:
inner = pd.merge(students, marks, on='Student_ID', how='inner')
print("Inner Join:\n", inner)
left = pd.merge(students, marks, on='Student_ID', how='left')
print("\nLeft Join:\n", left)
right = pd.merge(students, marks, on='Student_ID', how='right')
print("\nRight Join:\n", right)
outer = pd.merge(students, marks, on='Student_ID', how='outer')
print("\nOuter Join:\n", outer)

Inner Join:
    Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78

Left Join:
    Student_ID   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         104   Sita    NaN

Right Join:
    Student_ID   Name  Marks
0         101   Ravi     85
1         102   Neha     90
2         103  Kiran     78
3         105    NaN     88

Outer Join:
    Student_ID   Name  Marks
0         101   Ravi   85.0
1         102   Neha   90.0
2         103  Kiran   78.0
3         104   Sita    NaN
4         105    NaN   88.0

In [5]:
students = pd.DataFrame({
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita']
}, index=[101, 102, 103, 104])
marks = pd.DataFrame({
'Marks': [85, 90, 78, 88]
}, index=[101, 102, 103, 105])
joined_df = students.join(marks, how='outer')
print("Joined DataFrame:")
print(joined_df)

Joined DataFrame:
      Name  Marks
101   Ravi   85.0
102   Neha   90.0
103  Kiran   78.0
104   Sita    NaN
105    NaN   88.0

In [6]:
students = pd.DataFrame({
'Student_ID': [101, 102, 103, 104],
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita'],
'Department': ['CSE', 'ECE', 'MECH', 'CSE']
})
marks = pd.DataFrame({
'Student_ID': [101, 102, 104, 105],
'Marks': [85, 90, 92, 88]
})
final_df = pd.merge(students, marks, on='Student_ID',
how='outer')
print("Final Student Records:")
print(final_df)

Final Student Records:
   Student_ID   Name Department  Marks
0         101   Ravi        CSE   85.0
1         102   Neha        ECE   90.0
2         103  Kiran       MECH    NaN
3         104   Sita        CSE   92.0
4         105    NaN        NaN   88.0

In [7]:
students = pd.DataFrame({
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita']
}, index=[101, 102, 103, 104])
# Marks Data (index = Student_ID)
marks = pd.DataFrame({
'Marks': [85, 90, 78, 88]
}, index=[101, 102, 103, 105])
joined_df = students.join(marks, how='outer')
print("Joined DataFrame:")
print(joined_df)

Joined DataFrame:
      Name  Marks
101   Ravi   85.0
102   Neha   90.0
103  Kiran   78.0
104   Sita    NaN
105    NaN   88.0

In [9]:
students = pd.DataFrame({
'Student_ID': [101, 102, 103, 104],
'Name': ['Ravi', 'Neha', 'Kiran', 'Sita'],
'Department': ['CSE', 'ECE', 'MECH', 'CSE']
})
marks = pd.DataFrame({
'Student_ID': [101, 102, 104, 105],
'Marks': [85, 90, 92, 88]
})
final_df = pd.merge(students, marks, on='Student_ID',
how='outer')
print("Final Student Records:")
print(final_df)

Final Student Records:
   Student_ID   Name Department  Marks
0         101   Ravi        CSE   85.0
1         102   Neha        ECE   90.0
2         103  Kiran       MECH    NaN
3         104   Sita        CSE   92.0
4         105    NaN        NaN   88.0